$white:             #ffffff !default;
$black:             #222222 !default; // I hate exact black. Eeww

$primary:           #4c598c !default;
$error:             #C94736 !default;
$secondary:         #6e6e6e !default;

$darkgrey:          #323232 !default;
$lightgrey:         #a7a7a7 !default;

// Branding
$color1: rgba(76, 59, 77, 1);
$color2: rgba(137, 182, 165, 1);
$color3: rgba(201, 237, 220, 1);
$color4: rgba(130, 150, 140, 1);
$color5: rgba(106, 112, 110, 1);

// Styleguide
$border-radius:     4px !default;
